// Definieer een lijst van items
$items: header, section, footer;

// Gebruik @each om door de lijst te itereren en de kleur naar rood te maken
@each $item in $items {
  #{$item} {
    color: red;
  }
}

main {
    @for $i from 1 through 1 {
      h#{$i} {
        text-align: center;
      }
    }
  }
