// Definieer een lijst van items
$items: header, section, footer;

// Gebruik @each om door de lijst te itereren en de kleur naar rood te maken
@each $item in $items {
  #{$item} {
    color: red;
  }
}

// Gebruik @for om kolommen met dynamische breedtes te genereren
@for $i from 1 through 5 {
  .column-#{$i} {
    width: (100% / 5) * $i;
  }
}

// Gebruik @while om een reeks box-klassen te genereren
$i: 1;
@while $i <= 5 {
  .box-#{$i} {
    width: 20% * $i;
  }
  $i: $i + 1;
}
